* {
  user-select: none;
}

body {
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  background: #000;
}

#T {
  visibility: hidden;
  position: absolute;
  font-family: monospace;
  bottom: 0;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  width: 70px;
  line-height: 70px;
  font-size: 60px;
  text-align: center;
  transition: color 150ms linear, background-color 300ms linear;
  background: rgba(20, 0, 40, 0.3);
  border: 1px solid rgba(20, 0, 40, 0.3);
  text-shadow: 1px 1px 3px #000;
}

#T.x {
  background: red;
}

#c {
  padding: 0;
  display: block;
  visibility: hidden;
}

pre {
  color: #8fa;
  position: absolute;
  white-space: pre-wrap;
  font-size: 17px;
  padding: 1em;
}

#B {
  display: inline-block;
  background: #8fa;
  animation: B 1s linear infinite;
}

@keyframes B {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.started pre {
  display: none;
}

.started #C,
.started #T {
  visibility: visible;
}
